[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binanceSpotEasyT = "*"
metatrader5EasyT = "*"

[dev-packages]
pytest-cov = "*"
sphinx-press-theme = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
tqdm = "*"
pdtj = "*"
black = "*"
pre-commit = "*"
commitizen = "*"

[requires]
python_version = "3.8"


[scripts]
format_black = "black ."
